*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: midnightblue;
}

h2,h3{
    color: white;
    text-align: center;

}

#top a{
    text-decoration: none;
}

a:visited{
    color: darkgrey;
}


#navbar a:hover{
    color: forestgreen;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10%;
    margin-top: -10%;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.item {
    flex: 1 0 200px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
    width: 20%;
    min-width: 250px;
    height: 80%;
    background: white;
    border: 10px solid midnightblue;
}
p{
    position: relative;
    text-align: center;
    bottom: 0px;
    left: 20px;
    width: 100%;
    font-size: 15px;
}
#bold p{
    position: relative;
    text-align: center;
    bottom: 15px;
    left: 20px;
    width: 100%;
    font-size: 30px;
}

/* Navbar */
nav{
    background-color: black;
    padding: 3px;
    width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    padding: 10px;

}

li a {
    color: darkgrey;
    text-decoration: none;
    font-weight: 700;
}

section{
    padding: 20px;
}


@media only screen and (min-width: 1025px){
    li{
        display: inline-block;
        border: none;
    }
    ul{
        color: black;
    }
}

@media only screen and (min-width: 768px)and (max-width: 1024px){
    li{
        display: inline-block;
        border: none;


    }
    ul{
        color: black;
    }
}
